<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
>
    <testsuites>
        <testsuite name="API Test Suite">
            <file>./tests/APITest.php</file>
            <file>./tests/SubscriptionTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>